In [1]:
import pandas as pd
import datetime
import numpy as np
import sklearn
from sklearn.cross_validation import train_test_split 
from sklearn.ensemble import RandomForestRegressor
from sklearn import linear_model
from sklearn.metrics import *
from sklearn.neural_network import MLPRegressor
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

C:\Users\Akash\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
col_list=['Page_popularity','Page_visited_no_of_times','Page_talking_about','Page_category','c1','c2','c3','c4','c5','c6','c7','c8',
         'c9','c10','c11','c12','c13','c14','c15','c16','c17','c18','c19','c20','c21','c22','c23','c24','c25','CC1','CC2','CC3','CC4','CC5',
         'Base_time','Post_length_char_count','Post_share_count','Post_promoted','Time_target','Sunday_post','Monday_post',
         'Tuesday_post','Wednesday_post','Thrusday_post','Friday_post','Saturday_post','Sunday_base','Monday_base','Tuesday_base','Wednesday_base',
         'Thrusday_base','Friday_base','Saturday_base','Target_variable']
d1=pd.read_csv("Dataset/Training/Features_Variant_1.csv")
d1.columns=col_list
d2=pd.read_csv("Dataset/Training/Features_Variant_2.csv")
d2.columns=col_list
d3=pd.read_csv("Dataset/Training/Features_Variant_3.csv")
d3.columns=col_list
d4=pd.read_csv("Dataset/Training/Features_Variant_4.csv")
d4.columns=col_list
d5=pd.read_csv("Dataset/Training/Features_Variant_5.csv")
d5.columns=col_list

In [3]:
frames_main = [d1 , d2 , d3 , d4 , d5]
df = pd.concat(frames_main)
print (df.shape)
df.head()

(602808, 54)

,Page_popularity,Page_visited_no_of_times,Page_talking_about,Page_category,c1,c2,c3,c4,c5,c6,...,Friday_post,Saturday_post,Sunday_base,Monday_base,Tuesday_base,Wednesday_base,Thrusday_base,Friday_base,Saturday_base,Target_variable
0,634995,0,463,1,0.0,806.0,11.291045,1.0,70.495138,0.0,...,0,0,0,0,0,0,0,1,0,0
1,634995,0,463,1,0.0,806.0,11.291045,1.0,70.495138,0.0,...,1,0,0,0,0,0,0,0,1,0
2,634995,0,463,1,0.0,806.0,11.291045,1.0,70.495138,0.0,...,1,0,0,1,0,0,0,0,0,0
3,634995,0,463,1,0.0,806.0,11.291045,1.0,70.495138,0.0,...,0,0,0,0,0,1,0,0,0,0
4,634995,0,463,1,0.0,806.0,11.291045,1.0,70.495138,0.0,...,0,0,0,0,0,0,0,1,0,0

In [28]:
df_train,df_test = train_test_split(df,train_size=0.7,random_state=42)
column_list1=['CC2','Base_time','Post_share_count','c3','c8','c18','CC1','CC4','Post_length_char_count','CC5']
x_train=df_train[column_list1]
y_train=df_train['Target_variable']
scaler.fit(x_train)
x_train_sc=scaler.transform(x_train)
x_test=df_test[column_list1]
y_test=df_test['Target_variable']
scaler.fit(x_test)
x_test_sc=scaler.transform(x_test)
print(x_train.shape,',',x_test.shape,',',y_train.shape,',',y_test.shape)

(421965, 10) , (180843, 10) , (421965,) , (180843,)

In [13]:
lm=linear_model.LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)
Linear_mod=lm.fit(x_train_sc,y_train)
y_train_pred=lm.predict(x_train_sc)
r2=r2_score(y_train,y_train_pred)
mae=mean_absolute_error(y_train,y_train_pred)
rmse=np.sqrt(mean_squared_error(y_train,y_train_pred))
mod='Linear Regression'
dataset='Training'
print(mod,' on ',dataset,' dataset ',' : ')
print("R2   :",r2_score(y_train,y_train_pred))
print("MAE  :",mean_absolute_error(y_train,y_train_pred))
print("RMSE :",np.sqrt(mean_squared_error(y_train,y_train_pred)))

Linear Regression  on  Training  dataset   :
R2   : 0.332506248273
MAE  : 8.02035734871
RMSE : 28.1477811342

In [29]:
a=df_train.copy()
a['aaaa']=y_train_pred

In [30]:
b=df_train.copy()

In [31]:
df_train.head()

,Page_popularity,Page_visited_no_of_times,Page_talking_about,Page_category,c1,c2,c3,c4,c5,c6,...,Friday_post,Saturday_post,Sunday_base,Monday_base,Tuesday_base,Wednesday_base,Thrusday_base,Friday_base,Saturday_base,Target_variable
5340,1621,420,23,23,0.0,8.0,0.872727,0.0,2.248673,0.0,...,1,0,0,0,0,0,0,0,1,0
84806,595191,99,1561,16,0.0,717.0,38.699412,21.0,69.769131,0.0,...,0,0,0,0,0,0,0,0,1,0
83602,39611,3243,612,32,0.0,122.0,4.474708,1.0,14.498636,0.0,...,0,0,0,0,0,0,0,1,0,0
96010,421482,0,77336,18,0.0,665.0,156.157609,118.5,138.528690,0.0,...,1,0,0,0,0,0,0,0,1,14
40576,32745,1559,770,32,0.0,15.0,1.364851,0.0,2.300069,0.0,...,0,0,0,0,0,0,0,0,1,1

In [32]:
a.head()

,Page_popularity,Page_visited_no_of_times,Page_talking_about,Page_category,c1,c2,c3,c4,c5,c6,...,Saturday_post,Sunday_base,Monday_base,Tuesday_base,Wednesday_base,Thrusday_base,Friday_base,Saturday_base,Target_variable,aaaa
5340,1621,420,23,23,0.0,8.0,0.872727,0.0,2.248673,0.0,...,0,0,0,0,0,0,0,1,0,2.383041
84806,595191,99,1561,16,0.0,717.0,38.699412,21.0,69.769131,0.0,...,0,0,0,0,0,0,0,1,0,0.643109
83602,39611,3243,612,32,0.0,122.0,4.474708,1.0,14.498636,0.0,...,0,0,0,0,0,0,1,0,0,1.992633
96010,421482,0,77336,18,0.0,665.0,156.157609,118.5,138.528690,0.0,...,0,0,0,0,0,0,0,1,14,30.627693
40576,32745,1559,770,32,0.0,15.0,1.364851,0.0,2.300069,0.0,...,0,0,0,0,0,0,0,1,1,-5.088808

In [33]:
df_train.head()

,Page_popularity,Page_visited_no_of_times,Page_talking_about,Page_category,c1,c2,c3,c4,c5,c6,...,Friday_post,Saturday_post,Sunday_base,Monday_base,Tuesday_base,Wednesday_base,Thrusday_base,Friday_base,Saturday_base,Target_variable
5340,1621,420,23,23,0.0,8.0,0.872727,0.0,2.248673,0.0,...,1,0,0,0,0,0,0,0,1,0
84806,595191,99,1561,16,0.0,717.0,38.699412,21.0,69.769131,0.0,...,0,0,0,0,0,0,0,0,1,0
83602,39611,3243,612,32,0.0,122.0,4.474708,1.0,14.498636,0.0,...,0,0,0,0,0,0,0,1,0,0
96010,421482,0,77336,18,0.0,665.0,156.157609,118.5,138.528690,0.0,...,1,0,0,0,0,0,0,0,1,14
40576,32745,1559,770,32,0.0,15.0,1.364851,0.0,2.300069,0.0,...,0,0,0,0,0,0,0,0,1,1

In [34]:
b.head()

,Page_popularity,Page_visited_no_of_times,Page_talking_about,Page_category,c1,c2,c3,c4,c5,c6,...,Friday_post,Saturday_post,Sunday_base,Monday_base,Tuesday_base,Wednesday_base,Thrusday_base,Friday_base,Saturday_base,Target_variable
5340,1621,420,23,23,0.0,8.0,0.872727,0.0,2.248673,0.0,...,1,0,0,0,0,0,0,0,1,0
84806,595191,99,1561,16,0.0,717.0,38.699412,21.0,69.769131,0.0,...,0,0,0,0,0,0,0,0,1,0
83602,39611,3243,612,32,0.0,122.0,4.474708,1.0,14.498636,0.0,...,0,0,0,0,0,0,0,1,0,0
96010,421482,0,77336,18,0.0,665.0,156.157609,118.5,138.528690,0.0,...,1,0,0,0,0,0,0,0,1,14
40576,32745,1559,770,32,0.0,15.0,1.364851,0.0,2.300069,0.0,...,0,0,0,0,0,0,0,0,1,1